{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h3>Beyond the Gulf</h3>
<ul>
    <li>
        <a href="http://memespring.co.uk">Richard Pope</a>, <a href="http://scraperwiki.com">ScraperWiki</a>
    </li>    
    <li>
        G.W. Schulz, <a href="http://www.centerforinvestigativereporting.org/">Center for Investigative Reporting</a>
    </li>        
    <li>
        Robert Thomason, <a href="http://globalresourcesnews.com/">GlobalResourcesNews</a>
    </li>        
    <li>
    Suzanne Yada, <a href="http://www.centerforinvestigativereporting.org/">Center for Investigative Reporting</a>
    </li>        
</ul>
<p>Hazardous spills occur every day but escape public notice </p>
<p>
October 2010 – Online News Association Conference, Washington D.C.  
The sheer size of BP’s catastrophic spill in the Gulf of Mexico this year made it a high-profile media event. But dangerous accidents involving oil and chemicals that threaten the environment occur every day in the United States while receiving no attention at all from journalists. 
</p>
<p>
These events are reported to the Coast Guard’s National Response Center, which serves as a central repository for digital documents describing everything from aircraft hydraulic leaks and overturned barges to exploding oil platforms and damaged storage tanks containing hazardous materials. 
</p>
<p>
In fact, statistics maintained by the center <a href="http://www.nrc.uscg.mil/incident_type_2000up.html">show</a> that more incidents involving oil and natural gas production from platforms occurred last year than any other year during the last decade.  
</p>
<p>
For a time, according to the Society of Environmental Journalists, federal officials severely limited public access to details for each of these spills, despite laws mandating that the U.S. government make available information about potential ecological and public-health threats.  
</p>
<p>
That’s since changed and digital files listing each of the spills, often in rich detail, are <a href="http://www.nrc.uscg.mil/foia.html">available</a> on the National Response Center’s web site.  
</p>
<p>
Journalists and programmers attending the Online News Association’s 2010 conference in Washington, D.C. teamed up to visualize five years worth of this data, amounting to tens of thousands of records, and let citizens to see what harmful materials may be infecting the ground, air or water in their communities. We’re calling it <a href="http://spills.memespring.co.uk/">Spill Watch</a> (spills.memespring.co.uk).   
</p>
<p>
The group has also completed an easier-to-utilize database of the leaks and spills available for download as a CSV file at <a href="http://scraperwiki.com/scrapers/us-national-response-center-incidents/">Scraperwiki.com</a>. It covers the most recent five-year period of reports.  
</p>
<p>
Contributors to the project include Richard Pope, programming extraordinaire and data visualization expert from the U.K.’s ScraperWiki; homeland security journalist G.W. Schulz and web producer Suzanne Yada from the Center for Investigative Reporting in Berkeley, Calif.; Robert Thomason, an environmental journalist and proprietor of GlobalResourceNews.  
</p>
<p>
They collaborated during the conference under the auspices of <a href="http://hackshackers.com/">Hacks/Hackers</a>, a growing community of journalists and tech gurus working together to promote the public interest and improve the quality of online media and journalism.  
</p>
<p>
Each reported episode contained in the NRC data includes the day it occurred, where it occurred, who was responsible, what substance was involved and much more. Of course, as is often the case when government attempts to centralize large volumes of critical information, there are limitations to the data that viewers should first consider. 
</p>
Leaks and spills are self-reported, sometimes from a government entity like the Environmental Protection Agency, and other times from leakers and spillers, e.g. BP or Exxon. Not all perpetrators of such accidents are required to notify the government that they have occurred. In this case, we’ve isolated the top 20 perpetrators of leaks and spills reported to the NRC, but the data exclude instances where the party responsible was not listed.  
</p>
<p>
Over the five-year period we examined covering a total of 112,369 records, approximately two-thirds or nearly 72,000 did list the responsible party. Here are the top 20 yielded from the Coast Guard’s available data based on the total number of reported incidents: 
</p>
<ul>
<li>Chevron</li>
<li>Exxon Mobil</li>
<li>Norfolk Southern Railroad</li>
<li>BP</li>
<li>Taylor Energy</li>
<li>Conoco Phillips</li>
<li>Oxy Permian</li>
<li>Duke Energy Field Services</li>
<li>Dow Chemical</li>
<li>CSX Transportation</li>
<li>Kinder Morgan</li>
<li>Union Pacific Railroad</li>
<li>Resolute Natural Resources</li>
<li>BNSF Railroad</li>
<li>Coffeyville Resources</li>
<li>Chevron Texaco</li>
<li>Flint Hills Resources</li>
<li>Kirby Inland Marine</li>
<li>Valero Refinery</li>
<li>INVISTA</li>
</ul>
{% endblock %}