{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<p>
    Spill Watch was built during the Online News Association conference 2010 by <a href="http://memespring.co.uk">Richard Pope</a>, <a href="http://www.centerforinvestigativereporting.org/">G.W. Schulz</a>, <a href="http://globalresourcesnews.com/">Robert Thomason</a> and <a href="http://www.centerforinvestigativereporting.org/">Suzanne Yada</a>.
</p>
<p>
    It uses data published by the <a href="http://www.nrc.uscg.mil/foia.html">US Coast Guard National Response Center</a> that has been <a href="http://scraperwiki.com/scrapers/us-national-response-center-incidents/">loaded into ScraperWiki</a>.
</p>
<p>
    It is still a work in progress...
</p>

{% endblock %}