{% extends "base.html" %}
{% block title %}Spill Watch{% endblock %}
{% block content %}
<h2>
    Search results
    {% if companies.object_list %}
        for '<em>{{search_term}}'</em>
    {% else %}
        no companies matching '<em>{{search_term}}</em>', please try again
    {% endif %}
</h2>

{% if search_term %}
    <ul>
        {% for company in companies.object_list %}
            <li><a href="{% url company company.id %}">{{company.name}}</a></li>
        {% endfor %}
    </ul>
{% endif %}    
{% endblock %}